#disc {
	cursor: default;
	position: absolute;

	left: 50%; top: 50%;
	@include translate(-50%, -50%);

	border-radius: 50%;
	border-width: .2em;
	border-style: solid;

	box-shadow: 0 0 3px 1px black, inset 0 0 3px 1px black;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	@include no-select();
}

.mark {
	@include chrome-fairy-dust();
	position: absolute;
	@include translate(-50%, -50%);
	text-shadow: 0 0 6px black, 0 0 4px black, 0 0 3px black;

	font-size: 2.3em;
	&.sixth {
		font-weight: bold;
		font-size: 3.2em;
	}
}

@import "clock_person";
@import "clock_inner";
