
// ------ TEXT INSIDE THE CLOCK ------

#time-box {
	@include naked();
	cursor: default;
	position: absolute;
	left: 50%; top: 50%;
	@include translate(-50%, -50%);
	text-align: center;
	text-shadow: 0 0 8px black, 0 0 4px black, 0 0 4px black;
}

#profile-label {
	font-size: 2em;
}

#local-time {
	font-size: 8em;
	line-height: 1;
}
