// --- mixins ---

@mixin no-select() {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin can-select() {
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

// Add a highlight for debugging
@mixin highlight($color) {
	outline: 1px solid $color;
	box-shadow: 0 0 3px 3px rgba($color, .2), inset 0 0 3px 3px rgba($color, .2);
}

// No margins, padding, borders
@mixin naked() {
	border: 0 none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

// Disallow wrapping
@mixin nowrap() {
	white-space: nowrap;
	word-wrap: normal;
}

@mixin helvetica() {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

$break-tiny: 320px;
$break-small: 640px;
$break-large: 1024px;

@mixin respond-to($media) {
	@if $media == tiny {
		@media only screen and (max-width: $break-tiny) { @content; }
	} @else if $media == small {
		@media only screen and (min-width: $break-tiny + 1) and (max-width: $break-small - 1) { @content; }
	} @else if $media == medium {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	} @else if $media == large {
		@media only screen and (min-width: $break-large) { @content; }
	}
}
