@import "bourbon/bourbon";
@import "mixins";

$bg: #07151D;
$fg: #9cfff7;

// --- reset ---

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	font-size: inherit;
	color: inherit;
}

html, body {
	background: $bg;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	font-size: 1em;
	@include basefont();
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

a {
	cursor: pointer;
}

.hidden { visibility: hidden !important; }

.gone { display: none !important; }


@import "clock";
@import "setup";
@import "setup2";
@import "menu";
@import "fancy-buttons";
