@import "mixins";

$bg: #0a2223;
$fg: #9cfff7;

// --- reset ---

*, *:before, *:after {
	box-sizing: border-box;
	font-size: inherit;
}

html, body {
	background: $bg;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	font-size: 1em;
}

#disc {
	// centering
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 0;
	padding-bottom: 40%;
	border-radius: 50%;
	border: 3px solid $fg;
	color: $fg;

	@include respond-to(tiny) {
		border-width: 1px;
	}

	@include respond-to(small) {
		border-width: 1px;
	}

	@include respond-to(medium) {
		border-width: 2px;
	}

	@include no-select();
}

.mark {
	position: absolute;
	transform: translate(-50%, -50%);
	font-family: monospace;
	font-size: 2em;

	&.sixth {
		font-weight: bold;
		font-size: 2.8em;
	}

	@include respond-to(tiny) {
		font-size: 0.5em;

		&.sixth {
			font-size: 0.7em;
		}
	}

	@include respond-to(small) {
		font-size: 0.7em;

		&.sixth {
			font-size: 0.9em;
		}
	}

	@include respond-to(medium) {
		font-size: 1.4em;

		&.sixth {
			font-size: 1.8em;
		}
	}
}

// Offsets for people lists, so they look aligned with the dots
@mixin plist-em-offset($lineheight) {
	font-size: $lineheight;

	$lh: $lineheight*1.4;

	line-height: $lh;

	$padding_ratio: 0.2;

	height: $lh;
	padding: 0 $lh * $padding_ratio;
	border-radius: 5px;

	&.multiple:hover {
		background-color: rgba(black, .7);

		// really thick black shadow
		text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;

		z-index: 1000;

		@for $i from 2 through 15 {
			&.count-#{$i} {
				transition: height .05s * $i linear;
				height: $lh * $i;
			}
		}

		.person-label:after {
			opacity: 0;
		}
	}

	&.oct1,
	&.oct2 {
		transform: translate(0, -0.8*$lh);
	}

	&.oct7 {
		transform: translate(0, -0.5*$lh);
	}

	&.oct0 {
		transform: translate(0, -0.5*$lh);
	}

	&.oct3 {
		transform: translate(0, -0.5*$lh);
	}

	&.oct4 {
		transform: translate(0, -0.5*$lh);
	}

	&.oct5,
	&.oct6 {
		transform: translate(0, 0.8*$lh);
	}
}


.person-label {
	display: block;
	@include naked();

	@for $i from 2 through 15 {
		.count-#{$i} &:first-child:after {
			transition: opacity .1s linear;
			content: ' + #{$i - 1}';
		}
	}
}


.people-list {
	@include nowrap();
	@include can-select();
	@include basefont();

	display: block;
	position: absolute;
	text-decoration: none;

	@include plist-em-offset(1.2em);
	overflow: hidden;

	text-shadow: 0 0 4px black, 0 0 2px black;

	@include respond-to(tiny) {
		@include plist-em-offset(0.7em);
	}

	@include respond-to(small) {
		@include plist-em-offset(0.9em);
	}

	@include respond-to(medium) {
		@include plist-em-offset(1em);
	}
}

.bullet {
	position: absolute;
	$w: 1em;
	width: $w;
	height: $w;

	@include respond-to(tiny) {
		width: $w*0.3;
		height: $w*0.3;
	}

	@include respond-to(small) {
		width: $w*0.5;
		height: $w*0.5;
	}

	@include respond-to(medium) {
		width: $w*0.7;
		height: $w*0.7;
	}

	border-radius: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;

	&.day-prev {
		box-shadow: 0 0 0.25em 0.1em #ff151b;
	}

	&.day-next {
		box-shadow: 0 0 0.25em 0.1em yellow;
	}
}

#localtime {
	@include naked();
	@include basefont();
	@include can-select();
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 6em;

	@include respond-to(tiny) {
		font-size: 1.2em;
	}

	@include respond-to(small) {
		font-size: 2em;
	}

	@include respond-to(medium) {
		font-size: 3.5em;
	}

	// make the colon "smooth" when blinking
	span#loctimecolon {
		opacity: 1;
		transition: opacity .05s ease-in-out;
		-moz-transition: opacity .05s ease-in-out;
		-webkit-transition: opacity .05s ease-in-out;
	}
}

