@import "mixins";

$bg: #0a2223;
$fg: #9cfff7;

// --- reset ---

*, *:before, *:after {
	box-sizing: border-box;
	font-size: inherit;
}

html, body {
	background: $bg;
	margin: 0; padding: 0;
	width: 100%; height: 100%;

	font-size: 1em;
}

#disc {
	// centering
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);

	width: 40%;
	height: 0;
	padding-bottom: 40%;

	border-radius: 50%;
	border: 3px solid $fg;
	color: $fg;

	@include respond-to(tiny) {
		border-width: 1px;
	}

	@include respond-to(small) {
		border-width: 1px;
	}

	@include respond-to(medium) {
		border-width: 2px;
	}

	@include no-select();

	.mark {
		position: absolute;
		transform: translate(-50%, -50%);
		font-family: monospace;
		font-size: 2em;

		@include respond-to(tiny) {
			font-size: 0.5em;
		}

		@include respond-to(small) {
			font-size: 0.7em;
		}

		@include respond-to(medium) {
			font-size: 1.4em;
		}
	}

	.person {
		position: absolute;
		text-decoration: none;

		@include can-select();
		@include helvetica();

		font-size: 1.2em;
		text-shadow: 0 0 4px black, 0 0 2px black;

		&.left { transform: translate(-100%, -50%);	}

		&.right { transform: translate(0, -50%); }

		@include respond-to(tiny) {
			font-size: 0.7em;
		}

		@include respond-to(small) {
			font-size: 0.9em;
		}

		@include respond-to(medium) {
			font-size: 1em;
		}
	}

	.bullet {
		position: absolute;

		$w: 1em;
		width: $w;
		height: $w;

		@include respond-to(tiny) {
			width: $w*0.3;
			height: $w*0.3;
		}

		@include respond-to(small) {
			width: $w*0.5;
			height: $w*0.5;
		}

		@include respond-to(medium) {
			width: $w*0.7;
			height: $w*0.7;
		}

		border-radius: 50%;

		transform: translate(-50%, -50%);

		border: 1px solid black;

		&.day-prev {
			box-shadow: 0 0 0.25em 0.1em #ff151b;
		}

		&.day-next {
			box-shadow: 0 0 0.25em 0.1em yellow;
		}
	}
}


#localtime {
	@include naked();
	@include helvetica();
	@include can-select();

	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	font-size: 6em;

	@include respond-to(tiny) {
		font-size: 1.2em;
	}

	@include respond-to(small) {
		font-size: 2em;
	}

	@include respond-to(medium) {
		font-size: 3.5em;
	}

	span#loctimecolon {
		opacity: 1;
		transition: opacity .05s ease-in-out;
		-moz-transition: opacity .05s ease-in-out;
		-webkit-transition: opacity .05s ease-in-out;
	}
}

