@import "mixins";

$bg: #0a2223;
$fg: #9cfff7;

// --- reset ---

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	background: $bg;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
}

#disc-wrap2 {
	display: table;
	width: 100%; height: 100%;
}

#disc-wrap {
	width: 100%; height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#disc {
	display: inline-block;

	//$r: 400px;
	//margin: 100px auto;
	position: relative;
	//width: $r; height: $r;

	width: 40%;
	height: 0;
	padding-bottom: 40%;

	border-radius: 50%;
	border: 3px solid $fg;
	color: $fg;

	@include no-select();

	.mark {
		position: absolute;

		// the inner box with text
		div {
			$h: 60px;
			$w: 100px;

			position: absolute;

			top: -$h/2;
			line-height: $h;
			vertical-align: middle;

			width: $w;
			margin-left: -$w/2;
			text-align: center;

			font-family: monospace;
			font-size: 12pt;
		}
	}

	.person {
		position: absolute;

		$h: 20px;
		$w: 500px;

		div {
			@include can-select();

			position: absolute;

			top: -$h/2;
			line-height: $h;
			vertical-align: middle;

			width: $w;

			text-align: center;
			font-family: monospace;
			font-size: 12pt;

			text-shadow: 0 0 2px black;
		}

		&.left div {
			margin-left: -$w;
			text-align: right;
		}

		&.right div {
			text-align: left;
		}
	}

	.bullet {
		$w: 12px;

		position: absolute;
		width: $w;
		height: $w;
		border-radius: 50%;
		margin-left: -$w/2;
		margin-top: -$w/2;
		border: 1px solid black;
	}
}
